<main>
  <section class="top">
    <div class="text-container">
      <span tooltip="top left" tooltipPosition="right" [tooltipShowDuration]="400" [showDelay]="500" class="text">top left</span>
    </div>
    <div class="text-container">
      <span tooltip="top center" class="text">top center</span>
    </div>
    <div class="text-container">
      <span tooltip="top right" class="text">top right</span>
    </div>
  </section>
  <section class="mid">
    <div class="text-container">
      <span tooltip="mid left" class="text">mid left</span>
    </div>
    <div class="text-container">
      <span tooltip="mid center" class="text">mid center</span>
    </div>
    <div class="text-container">
      <span tooltip="mid right" class="text">mid right</span>
    </div>

  </section>
  <section class="bottom">
    <div class="text-container">
      <span tooltip="bottom left" class="text">bottom left</span>
    </div>
    <div class="text-container">
      <span tooltip="bottom center" class="text">bottom center</span>
    </div>
    <div class="text-container">
      <span tooltip="bottom right" class="text">bottom right</span>
    </div>
  </section>
</main>

